---
import Head from "../../components/Head.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";

import Aside from "../../components/Aside.astro";

import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const blog = await getCollection('blog');
  return blog.map((post) => ({
    params: {id: post.id},
    props: post
  }));
}

const post = Astro.props;
const { Content } = await render(post);
---

<!doctype html>
<html lang="en">
  <Head pageTitle={post.data.title}/>
  <style is:global>
    main img {
      display: block;
      max-width: 30em;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }

    @media (max-width: 35em) {
      main img {
        max-width: 100%;
      }
    }
  </style>
  <body>
    <Header />
    <main>
      <h1>{post.data.title}</h1>
      {post.data.pubDate && (
        <span class="post-date">
          <!-- display: block -->
          Originally posted on {post.data.pubDate?.toLocaleDateString("en-us", {
            year: "numeric",
            month: "short",
            day: "numeric",
          })}.
        </span>
        )}
        {post.data.lastUpdateDate && (
          <span class="post-update">
            <!-- display: block -->
            Last updated on {post.data.lastUpdateDate?.toLocaleDateString("en-us", {
              year: "numeric",
              month: "short",
              day: "numeric",
            })}.
          </span>
        )}
        <hr/>
      <Content components={{Aside}}/>
    </main>
    <Footer />
  </body>
</html>
