html {
  font-family: "Monda", sans-serif;
  font-size: 1.25rem;
}

body {
  background: linear-gradient(to right, #afdfff, #0bafee);
  margin: 0;
  padding: 0;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a {
  color: #15f;
  text-decoration: none;
}

a:hover {
  color: #111;
  text-decoration: underline;
}

h1 {
  font-family: "Tomorrow", sans-serif;
}

code {
  font-family: "Courier Prime", monospace;
}

pre {
  padding: 1em;
}

/* body > * */
header,
main,
footer {
  background-color: #e5ebee;
  max-width: 48em;
  margin: 1em auto;
  padding: 1em;
  box-shadow: 0.5em 0.5em #0005;
}

/* body > *:first-child */
header {
  margin: 1em auto auto;
}

/* body > *:last-child */
footer {
  margin: 0 auto 2em auto;
}

@media (max-width: 62.5rem) {
  html {
    font-size: 1rem;
  }

  header,
  main,
  footer {
    max-width: inherit;
    margin: 1em 1em;
  }

  header {
    margin: 1em 1em 1em;
  }

  footer {
    margin: 0 1em 2em 1em;
  }
}
