---
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { Content } from "../content/about.mdx";
---

<!doctype html>
<html lang="en">
  <Head pageTitle="About Me" />
  <body>
    <Header />
    <style is:global>
      main img.av {
        float: right;
        width: 25%;
        height: 25%;
        margin: 0.5rem;
        border-radius: 50%;
      }

      @media (max-width: 30rem) {
        main img.av {
          display: none;
        }
      }
    </style>
  </body><main>
    <Content />
  </main>
  <Footer />
</html>
