---
import Head from '../components/Head.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
  <Head/>
  <body>
    <Header/>
    <main id="intro">
      <!-- display: block -->
      <p>
        Hey there, I'm <strong>Tyler</strong>! I am a lifelong apprentice of
        software engineering with passions in application development, retro
        video game development, and retrocomputing in general.
      </p>
      <p>
        I don't have much of a social media presence, but I hope you find
        something in this website that interests you!
      </p>
    </main>
    <main id="projects">
      <h1>Projects</h1>
      <p>
        Although I have worked on several personal projects throughout my
        lifetime, below is what I'm comfortable showing off. Enjoy!
      </p>
      <p>List of projects here.</p>
    </main>
    <main id="blog">
      <h1>Blog</h1>
      <p>List of blog posts here.</p>
    </main>
    <Footer/>
  </body>
</html>
