---

---

<header>
  <div class="header-logo">
    <a href="/">
      <!-- prettier-ignore -->
      <h1>
          <svg
            viewBox="0 0 24 24"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            stroke="#000"
            fill="none"
            aria-hidden="true"
          >
            <path
              d="m7.81,22.4a1,1 0 0 1 -1,-0.81a61,61 0 0 1 -0.81,-10.19a1,1 0 0 1 1,-1l8,0a1,1 0 0 1 1,1a61,61 0 0 1 -0.83,10.18a1,1 0 0 1 -1,0.81l-6.36,0.01z"
              fill="#0bafee"
              stroke="none"
              id="fill"
            />
            <path
              d="m15.86,17.4l2.44,-0.6a2.25,2.25 0 0 0 1.7,-2.15l0,0a2.25,2.25 0 0 0 -2.25,-2.25l-1.55,0"
            />
            <path
              d="m15,4.7l0,2m-4,-2l0,2m-4,-2l0,2m-4,16l18,0m-13.19,0a1,1 0 0 1 -1,-0.81a61,61 0 0 1 -0.81,-10.19a1,1 0 0 1 1,-1l8,0a1,1 0 0 1 1,1a61,61 0 0 1 -0.83,10.18a1,1 0 0 1 -1,0.81l-6.36,0.01z"
            />
          </svg>Tea, Please
        </h1>
    </a>
  </div>
  <nav>
    <a href="/projects">
      <svg viewBox="0 0 576.402 576.402" class="svg-allfill" aria-hidden="true">
        <path
          d="m344.05,484.05l-111.7,0c-10.29,0 -18.62,8.33 -18.62,18.62c0,10.29 8.33,18.62 18.62,18.62l111.7,0c10.29,0 18.62,-8.33 18.62,-18.62c0,-10.29 -8.33,-18.62 -18.62,-18.62z"
        ></path>
        <path
          d="m133.98,111.45l-17.18,-9.94c-2.84,-1.63 -6.05,-2.5 -9.31,-2.5l0,0c-6.64,0 -12.82,3.58 -16.13,9.32l-9.19,15.94c-5.12,8.89 -2.06,20.3 6.83,25.43l17.06,9.84c2.77,1.59 5.88,2.44 9,2.44c6.72,0 12.86,-3.81 16.04,-9.95c2.64,-5.11 5.61,-10.2 8.81,-15.12c2.8,-4.3 3.7,-9.34 2.54,-14.19c-1.14,-4.77 -4.15,-8.77 -8.47,-11.27z"
        ></path>
        <path
          d="m182.45,87.33c3.54,0 7.03,-1.05 10.07,-3.03c4.92,-3.21 10.01,-6.17 15.12,-8.82c4.55,-2.35 7.83,-6.29 9.24,-11.07c1.37,-4.69 0.76,-9.65 -1.73,-13.96l-9.84,-17.06c-3.32,-5.75 -9.5,-9.32 -16.14,-9.32l0,0c-3.25,0 -6.47,0.86 -9.29,2.49l-15.94,9.18c-4.31,2.49 -7.39,6.5 -8.68,11.31c-1.29,4.8 -0.62,9.82 1.87,14.13l9.93,17.18c3.25,5.62 9,8.97 15.39,8.97z"
        ></path>
        <path
          d="m485.04,108.33c-3.31,-5.74 -9.49,-9.31 -16.13,-9.31l0,0c-3.26,0 -6.48,0.86 -9.3,2.5l-17.19,9.93c-4.33,2.5 -7.34,6.5 -8.48,11.27c-1.15,4.85 -0.25,9.89 2.56,14.2c3.23,4.94 6.2,10.03 8.84,15.11c3.18,6.13 9.32,9.94 16.02,9.94c3.13,0 6.24,-0.84 9.01,-2.44l17.03,-9.83c8.89,-5.14 11.95,-16.55 6.82,-25.44l-9.18,-15.93z"
        ></path>
        <path
          d="m368.79,75.49c5.12,2.64 10.19,5.6 15.09,8.78c3.04,1.98 6.52,3.02 10.06,3.02c6.39,0 12.15,-3.35 15.4,-8.97l9.9,-17.14c5.13,-8.89 2.08,-20.3 -6.81,-25.44l-15.87,-9.17c-2.83,-1.64 -6.05,-2.5 -9.31,-2.5l0,0c-6.63,0 -12.81,3.57 -16.12,9.31l-9.85,17.06c-2.48,4.32 -3.1,9.28 -1.73,13.97c1.41,4.79 4.69,8.72 9.24,11.08z"
        ></path>
        <path
          d="m55.61,223.41l0,18.36c0,10.26 8.36,18.62 18.62,18.62l20.32,0c5.12,0 9.93,-2.13 13.19,-5.84c3.26,-3.7 4.75,-8.73 4.1,-13.8c-0.3,-2.27 -0.63,-5.25 -0.63,-8.16c0,-2.88 0.31,-5.75 0.62,-8.17c0.64,-5.05 -0.86,-10.07 -4.13,-13.77c-3.27,-3.72 -8.09,-5.85 -13.22,-5.85l-20.25,0c-10.26,-0.01 -18.62,8.34 -18.62,18.61z"
        ></path>
        <path
          d="m520.79,241.76l0,-18.35c0,-10.27 -8.36,-18.62 -18.62,-18.62l-20.25,0c-5.13,0 -9.95,2.13 -13.22,5.85c-3.26,3.7 -4.77,8.72 -4.13,13.77c0.31,2.42 0.62,5.29 0.62,8.17c0,2.91 -0.33,5.89 -0.63,8.16c-0.65,5.06 0.84,10.09 4.1,13.8c3.26,3.71 8.07,5.84 13.19,5.84l20.32,0c10.26,0 18.62,-8.35 18.62,-18.62z"
        ></path>
        <path
          d="m487.39,315.48l-17.46,-10.06c-2.74,-1.58 -5.81,-2.42 -8.88,-2.42l0,0c-6.9,0 -13.16,4.23 -15.95,10.77c-2.34,5.5 -4.85,11.1 -7.44,16.62c-4.25,9.08 -0.81,20.09 7.83,25.08l14.12,8.16c2.82,1.63 6.04,2.5 9.3,2.5c6.63,0 12.82,-3.57 16.13,-9.32l9.18,-15.9c2.49,-4.31 3.15,-9.33 1.86,-14.13c-1.29,-4.8 -4.38,-8.82 -8.69,-11.3z"
        ></path>
        <path
          d="m115.19,303.07l0,0c-3.06,0 -6.13,0.84 -8.87,2.42l-17.32,9.99c-4.31,2.48 -7.39,6.5 -8.68,11.3c-1.29,4.8 -0.63,9.82 1.86,14.13l9.18,15.9c3.31,5.75 9.5,9.32 16.14,9.32c3.25,0 6.46,-0.86 9.29,-2.49l13.86,-7.99c8.63,-4.98 12.09,-15.98 7.88,-25.07c-2.61,-5.61 -5.1,-11.23 -7.4,-16.7c-2.78,-6.56 -9.03,-10.81 -15.94,-10.81z"
        ></path>
        <path
          d="m346.73,557.84c0,-10.27 -8.31,-18.57 -18.57,-18.57l-79.92,0c-10.26,0 -18.56,8.31 -18.56,18.57s8.3,18.56 18.56,18.56l79.92,0c10.26,0 18.57,-8.3 18.57,-18.56z"
        ></path>
        <path
          d="m168.5,346.11c17,34.13 33.05,66.36 35.69,98.07c0.83,10.01 9.17,17.85 18.98,17.85l130.06,0c9.85,0 18.18,-7.86 18.97,-17.89c2.59,-32.94 19.65,-66.9 36.13,-99.75c18.68,-37.21 37.99,-75.69 37.99,-114.95c0,-87.19 -70.93,-158.12 -158.12,-158.12c-87.18,0 -158.11,70.93 -158.11,158.12c-0.01,39.54 19.52,78.75 38.41,116.67zm119.7,-219.19c56.53,0 102.52,45.99 102.52,102.52c0,26.08 -15.54,57.07 -32,89.88l-0.07,0.14c-13.51,26.85 -27.48,54.62 -35.57,84.6c-0.31,1.18 -1.91,2.37 -2.83,2.37l-64.28,0c-0.94,0 -2.58,-1.22 -2.91,-2.42c-8,-28.9 -21.64,-56.24 -34.82,-82.67c-16.77,-33.71 -32.56,-65.47 -32.56,-91.9c0,-56.53 45.99,-102.52 102.52,-102.52z"
        ></path>
      </svg>
      Projects
    </a>
    <a href="/blog">
      <svg viewBox="0 0 16 16" class="svg-allstroke" aria-hidden="true">
        <rect
          height="14.5"
          stroke-linejoin="bevel"
          width="10.5"
          x="1.55"
          y="0.75"></rect>
        <line x1="3.57" x2="6.99" y1="3" y2="3"></line>
        <line x1="2.7" x2="10.25" y1="7" y2="7"></line>
        <line x1="2.7" x2="6.73" y1="8.5" y2="8.5"></line>
        <line x1="7.15" x2="11.01" y1="8.5" y2="8.5"></line>
        <line x1="2.7" x2="9.76" y1="10" y2="10"></line>
        <line x1="2.7" x2="9.16" y1="13" y2="13"></line>
        <line x1="2.7" x2="7.16" y1="11.5" y2="11.5"></line>
        <line x1="4.88" x2="10.67" y1="5.5" y2="5.5"></line>
        <line x1="2.7" x2="4.44" y1="5.5" y2="5.5"></line>
        <path d="m14.58,7.72l-4.58,4.32l-0.12,0.88l0.92,-0.16l4.6,-4.28"></path>
      </svg>
      Blog
    </a>
    <a href="https://github.com/teaplz">
      <svg viewBox="0 0 16 16" class="svg-allfill" aria-hidden="true">
        <path
          d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.013 8.013 0 0016 8c0-4.42-3.58-8-8-8z"
        ></path>
      </svg>
      teaplz
    </a>
  </nav>
</header>
<style>
  header {
    display: flex;
  }

  header div.header-logo h1 {
    font-family: "Genos", sans-serif;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 0.1em;
  }

  header div.header-logo h1 svg {
    width: 1em;
    height: 1em;
    margin-right: 0.1em;
    vertical-align: text-top;
  }

  header div.header-logo {
    flex: 1;
    white-space: nowrap;
  }

  header div.header-logo a {
    color: inherit;
  }

  header div.header-logo a:hover {
    color: #22a;
    text-decoration: none;
  }

  header div.header-logo a:hover svg path:not(#fill) {
    stroke: #22a;
  }

  header div.header-logo a:hover svg path#fill {
    fill: #00b7ff;
  }

  header nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  header nav a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #007aaa;
  }

  header nav a svg {
    width: 3em;
    height: 3em;
    margin-bottom: 0.25em;
  }

  header nav a svg.svg-allstroke * {
    stroke: #007aaa;
    fill: none;
  }

  header nav a svg.svg-allfill * {
    fill: #007aaa;
    stroke: none;
  }

  header nav a:hover {
    color: #10adeb;
  }

  header nav a:hover svg.svg-allstroke * {
    stroke: #10adeb;
    fill: none;
  }

  header nav a:hover svg.svg-allfill * {
    fill: #10adeb;
    stroke: none;
  }

  @media (max-width: 62.5rem) {
    header {
      flex-direction: column;
    }

    header div.header-logo {
      place-self: center;
    }

    header div.header-logo h1 {
      place-self: center;
      margin-top: 0;
    }
  }
</style>
